src/main/resources/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/student"
           xmlns:tns="http://www.example.com/student"
           elementFormDefault="qualified">

        <xs:element name="getStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="course" type="tns:Course" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="fault" type="tns:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="fault" type="tns:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:element name="getCourseRequest">
         <xs:complexType>
             <xs:sequence>
                 <xs:element name="id" type="xs:long"/>
             </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="getCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="student" type="tns:Student" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllCoursesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllCoursesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" type="tns:Course" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllStudentsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:Student" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="fault" type="tns:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



      <xs:element name="addStudentToCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idStudent" type="xs:long"/>
                <xs:element name="idCourse" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentToCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="fault" type="tns:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:element name="removeStudentToCourseRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idStudent" type="xs:long"/>
                <xs:element name="idCourse" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeStudentToCourseResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:Status"/>
                <xs:element name="fault" type="tns:Fault" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getCountryListRequest">
    </xs:element>

    <xs:element name="getCountryListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:Country" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="Student">
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="firstName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                        <xs:pattern value="^[A-Z]{1,30}$"/>
                    </xs:restriction>
                </xs:simpleType>
                </xs:element>
                <xs:element name="lastName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="^[A-Z]{1,30}$"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>


    <xs:complexType name="Course">
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Country">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fault">
            <xs:sequence>
                <xs:element name="faultcode" type="xs:string"/>
                <xs:element name="faultstring" type="xs:string"/>
                <xs:element name="detail" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="errorCode" type="xs:int"/>
                            <xs:element name="errorMessage" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>


     <xs:simpleType name="Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS"/>
            <xs:enumeration value="FAILURE"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>